@model Passion.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "PortfolioDetails";
}

<div class="page-title dark-background" style="background-image: url(assets/img/bg/bg-14.webp);">
    <div class="container position-relative">
        <h1>Portfolio Details</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="current">Portfolio Details</li>
            </ol>
        </nav>
    </div>
</div>

<section id="portfolio-details" class="portfolio-details section">
    <div class="container">
        <div class="project-header">
            <div class="row">
                <div class="col-lg-7">
                    <h1 class="project-title">@Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsTitle</h1>
                    <div class="project-meta">
                        <div class="meta-item">
                            @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsDate)
                        </div>
                        <div class="meta-item">
                            @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsCompany)
                        </div>
                        <div class="meta-item">
                            @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsUrlCompany)
                        </div>
                    </div>
                    <div class="project-tags">
                        @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsProjectFeatures)
                    </div>
                </div>
                <div class="col-lg-5 d-flex align-items-center justify-content-end">
                    @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsTechnologiesUsed)
                </div>
            </div>
        </div>
        <div class="media-showcase">
            <div class="portfolio-details-slider swiper init-swiper swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 800,
                      "autoplay": {
                        "delay": 5000
                      },
                      "effect": "fade",
                      "fadeEffect": {
                        "crossFade": true
                      },
                      "slidesPerView": 1,
                      "pagination": {
                        "el": ".swiper-pagination",
                        "clickable": true,
                        "dynamicBullets": true
                      }
                    }
                </script>
                <div class="swiper-wrapper" id="swiper-wrapper-595f71b1bf967dd9" aria-live="off" style="transition-duration: 0ms; transition-delay: 0ms;">
                    <div class="swiper-slide swiper-slide-prev" style="width: 1296px; opacity: 0; transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;" role="group" aria-label="1 / 3" data-swiper-slide-index="0">
                        <img src="~/Pictures/MasterPortfolioItemMenu/@Model.PortfolioItemMenu.MasterPortfolioItemMenuImageUrl" alt="Portfolio Image" class="img-fluid">
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic" style="width: 190px;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active-prev" style="left: 0px;" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main" style="left: 0px;" tabindex="0" role="button" aria-label="Go to slide 2" aria-current="true"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active-next" style="left: 0px;" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
        <div class="project-content">
            <div class="row gy-4">
                <div class="col-lg-7">
                    <div class="description-box">
                        <h3>Project Overview</h3>
                        <p class="lead">@Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsDescription1</p>
                        <p>@Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsDescription2</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="project-stats">
                        <div class="stat-item">
                            @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsActiveUsers)
                        </div>
                        <div class="stat-item">
                            @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsClientSatisfaction)
                        </div>
                        <div class="stat-item">
                            @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsMonthsDevelopment)
                        </div>
                        <div class="stat-item">
                            @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsAppStoreRating)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-md-6">
                    @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsTheChallenge)
                </div>
                <div class="col-md-6">
                    @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsTheSolution)
                </div>
            </div>
            <div class="key-features">
                <h3>Key Features</h3>
                <div class="row g-4">
                    <div class="col-md-4">
                        @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsFeatures1)
                    </div>
                    <div class="col-md-4">
                        @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsFeatures2)
                    </div>
                    <div class="col-md-4">
                        @Html.Raw(Model.PortfolioItemMenu.MasterPortfolioItemMenuDetailsFeatures3)
                    </div>
                </div>
            </div>
            <div class="project-navigation">
                <a href="#" class="prev-project">
                    <i class="bi bi-arrow-left"></i>
                    <span>Previous Project</span>
                </a>
                <a href="#" class="all-projects">
                    <i class="bi bi-grid"></i>
                    <span>All Projects</span>
                </a>
                <a href="#" class="next-project">
                    <span>Next Project</span>
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
